.listItem {
  background: linear-gradient(150deg, #595656, #302f2f, #000);
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.48);
  font-family: "Righteous";
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.box {
  width: 38vw;
  height: 38vw;
  border-radius: 10%;
  background: #000;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.48);
}

.projectImage {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50% 50% 50% 0%;
  transform: translate(20%, -20%);
}

.title {
  color: #fff;
  font-family: "Righteous";
}

.text {
  color: #fff;
  width: 16vw;
  font-size: 15px;
  font-family: "Hind Siliguri";
}

.buttomsIcon {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .text {
    font-size: 1.5vw;
    width: 50vw;
  }
  .title {
    font-size: 3vw;
  }
  .listItem {
    padding: 5px 15px;
    font-size: 2vw;
  }
  .box {
    width: 55vw;
    height: 55vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 8vh;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .text {
    font-size: 2.3vw;
    width: 33vw;
  }
  .box {
    width: 44vw;
    height: 85vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
}
