.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.list {
  list-style-type: none;
}

.list > li {
  float: left;
}

.link {
  text-decoration: none;
  color: #000;
  padding: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
