.container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #000;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.icon {
  width: 40px;
  height: auto;
  margin: 10px;
}
